body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  h1{
    margin: 1em auto;
    text-align: center;
    color:#D09B49;
  }
  p{
    margin: 0.2em auto;
    text-align: center;
    color:#ffffff;
    font-weight: 500;
  }
  #demo1, #demo2{
      margin-top: 0;
      margin-bottom: 1rem;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
  }
  
  
  label {
    display: block;
    margin: 0.5rem 0;
    color:#ffffff;
  }
  
  input,
  textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  
  input[type="button"] {
    display: block;
    width: 60%;
    margin: 2px auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border: none;
    border-color: white;
    min-width: 300px;
  }
  input[type="button"]:hover{
  background-color:#D09B49;
  color: #1b1b32;
  cursor: pointer;
  }
  @media screen and (max-width:400px){
      label {
    display: block;
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  
  input,
  textarea {
    margin: 10px 0 0 0;
    width: 100%;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  input{
    min-height: 3em;
  }
  textarea {
     min-height: 5em;
  }
  }